.body{
  font-size: 14px;
}

.game-board{
  background-color: grey;
  width: 324px;
}

.card {
  width: 50px;
  height: 50px;
  background-color: green;
  color: white;
  font-family: "Arial";
  font-size: 2.8em;
  text-align: center;
  display: inline-block;
  border: black solid 1px;
  margin: 1px;
    text-transform: uppercase;
}
.card:hover{
  cursor: pointer;
}

.highlight{
  background-color: orangered;
}

.found{
    background-color: orangered;
}

.word{
    font-family: "Arial";
    text-transform: uppercase;
}

.word.found{
    text-decoration: line-through;
}

.crossed-out{
    text-decoration: line-through;
}

